.time-container {
    display: flex;
}

.time-slot {
    flex: 1;
    text-align: center;
    padding: 5px;
    height: 400px;
}

.past {
    background-color: #090909;
}

.present {
    background-color: #ffd700;
}

.future {
    background-color: #ABABAB;
}