@import './main.scss';

.time-move {
  display: flex;
  background-size: 100% auto;
  height: 50vh;
  .time-move-events {
    @include flex(column, flex-start, center);
    flex-wrap: wrap;
    padding: 1rem;
  }
}
